@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(255, 255, 255);
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    opacity: 0.8;
    width: 100%;
    height: 4.375rem;
    position: fixed;
    top: 0rem;
    padding: 0 2rem;
}

.navbar a {
    color: #fff;
    padding: 0.625rem 1.25rem;
    margin: 0 0.3215rem;
}

.navbar a:hover {
   border-bottom: limegreen 0.125rem solid;
   color: limegreen;
}

.navbar ul {
    display: flex;
}

.navbar .logo {
    font-weight: 400;
}

/* HEADER */
.hero {
    background: url('../image_resources/home/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    position: relative;
    color: white;
}

.hero .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;  /* 100% of parent (hero)*/
    padding: 0 1.25rem;
}

.hero .content h1 {
    font-size: 3.4375rem;
}

.hero .content p {
    font-size: 1.4375rem;
    max-width: 600px;
    margin: 1.25rem 0 1.875rem;
}

.hero::before {
    content: '';  /* Bare in mind, need empty string */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.hero * {   /* The star means everything inside the hero is affected */
    z-index: 10;
}

/* ICONS */
.icons {
    padding: 1.875rem;
}

.icons h3 {
    font-weight: 400;
    margin-bottom: 1rem;
}

.icons i {
    background-color: limegreen;
    color: white;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 1rem;
}

#cases img:hover {
    opacity: 0.7;
} 

#team img {
    border-radius: 100%;
}

/* CALLBACK FORM */
.callback-form {
    width: 100%;
    
}